<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.streetmusic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityCadCliente"
            android:label="@string/title_activity_cad_cliente" />
        <activity
            android:name=".ActivityConfirmaCadastro"
            android:label="@string/title_activity_confirma_cadastro" />
        <activity
            android:name=".ActivityLogin"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ActivityPerfilUsuario"
            android:label="@string/title_activity_acitivity_perfil_usuario" />
        <activity
            android:name=".ActivityEditarPerfil"
            android:label="@string/title_activity_editar_perfil" />
        <activity
            android:name=".ActivityConfirmaEdicaoCad"
            android:label="@string/title_activity_confirma_edicao_cad" />
        <activity
            android:name=".ActivityConfirmacaoMusico"
            android:label="@string/title_activity_activiry_confirmacao_musico" />
        <activity
            android:name=".ActivityContaFinanceira"
            android:label="@string/title_activity_conta_financeira" />
        <activity
            android:name=".ActivityCartaoCredito"
            android:label="@string/title_activity_cartao_credito" />
        <activity
            android:name=".ActivityContaBancaria"
            android:label="@string/title_activity_conta_bancaria" />
        <activity
            android:name=".ActivityConfirmaCartaoCredito"
            android:label="@string/title_activity_confirma_cartao_credito" />
        <activity
            android:name=".ActivityConfirmaContaBancaria"
            android:label="@string/title_activity_confirma_conta_bancaria"></activity>
    </application>

</manifest>