<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.streetmusic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ActivityCadCliente"
            android:label="@string/title_activity_cad_cliente" />
        <activity
            android:name=".activities.ActivityConfirmaCadastro"
            android:label="@string/title_activity_confirma_cadastro" />
        <activity
            android:name=".activities.ActivityLogin"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activities.ActivityPerfilUsuario"
            android:label="@string/title_activity_acitivity_perfil_usuario" />
        <activity
            android:name=".activities.ActivityEditarPerfil"
            android:label="@string/title_activity_editar_perfil" />
        <activity
            android:name=".activities.ActivityConfirmaEdicaoCad"
            android:label="@string/title_activity_confirma_edicao_cad" />
        <activity
            android:name=".activities.ActivityConfirmaMusico"
            android:label="@string/title_activity_activiry_confirmacao_musico" />
        <activity
            android:name=".activities.ActivityContaFinanceira"
            android:label="@string/title_activity_conta_financeira" />
        <activity
            android:name=".activities.ActivityCartaoCredito"
            android:label="@string/title_activity_cartao_credito" />
        <activity
            android:name=".activities.ActivityContaBancaria"
            android:label="@string/title_activity_conta_bancaria" />
        <activity
            android:name=".activities.ActivityConfirmaCartaoCredito"
            android:label="@string/title_activity_confirma_cartao_credito" />
        <activity
            android:name=".activities.ActivityConfirmaContaBancaria"
            android:label="@string/title_activity_confirma_conta_bancaria" />
        <activity
            android:name=".activities.ActivityMusicosSeguidos"
            android:label="@string/title_activity_musicos_seguidos" />
        <activity
            android:name=".activities.ActivityDoacao"
            android:label="@string/title_activity_doacao" />
        <activity
            android:name=".activities.ActivityConfirmaDoacao"
            android:label="@string/title_activity_confirma_doacao" />
        <activity
            android:name=".activities.ActivityShowsProximos"
            android:label="@string/title_activity_shows_proximos" />
        <activity
            android:name=".activities.ActivityConfirmaCheckIn"
            android:label="@string/title_activity_confirma_check_in" />
        <activity
            android:name=".activities.ActivityMensagem"
            android:label="@string/title_activity_mensagem" />
        <activity
            android:name=".activities.ActivityConfirmaMensagem"
            android:label="@string/title_activity_confirma_mensagem"></activity>
    </application>

</manifest>